In [95]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, join
import psycopg2

#make sure you have your own config on your computer in the SQL folder
from config import key

In [152]:
from flask import Flask, jsonify
import datetime as dt

In [29]:
CData = pd.read_csv('CountryData_SQL.csv')
EData = pd.read_csv('EnvData_SQL.csv')
SData = pd.read_csv('States_SQL.csv')

In [19]:
CData.head()

,Country,Surface_Area,Population,PopDensity,PopGrowth,PopUrban,GDP,GDPpercap,GDPgrowth,EconAg,EconInd,EconService,Unemployment,Export,Import,Gov_Education,Women_Parliment,Energy_Prod
0,Afghanistan,652864,35530.0,54.4,3.2,26.7,20270.0,-2.4,623.2,23.3,23.3,28.5,8.6,1458,3568,3.3,27.7,5.0
1,Albania,28748,2930.0,106.9,-0.1,57.4,11541.0,2.6,3984.2,22.4,26.0,40.3,15.8,1962,4669,3.5,22.9,36.0
2,Algeria,2381741,41318.0,17.3,2.0,70.7,164779.0,3.8,4154.1,12.2,37.3,54.7,11.4,29992,47091,0.0,31.6,55.0
3,Angola,1246700,29784.0,23.9,3.5,44.1,117955.0,3.0,4714.1,6.8,51.2,58.2,6.6,21011,8790,0.0,38.2,25.0
4,Argentina,2780400,44271.0,16.2,1.0,91.8,632343.0,2.4,14564.5,6.0,27.8,73.1,6.5,57733,55610,5.3,38.9,85.0

In [79]:
pg_user = 'postgres'
pg_pwd = key
pg_port = "5432"

#remember to make this db in pgAdmin before
# run Final_Query.sql in pgAdmin to create the tables

database = 'Project2'
url = f"postgresql://{pg_user}:{pg_pwd}@localhost:{pg_port}/{database}"

In [80]:
#Create the engine
engine = create_engine(f'{url}')

In [81]:
SData.to_sql('States', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [82]:
CData.to_sql('CountryData', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [83]:
EData.to_sql('EnvData', con = engine, if_exists = 'append', chunksize = 1000, index=False)

## Test SQL Code for app.py

In [84]:
Base = automap_base()

In [85]:
Base.prepare(engine, reflect=True)

In [86]:
# We can view all of the classes that automap found
Base.classes.keys()

['states', 'envdata', 'countrydata']

In [122]:
EnvironmentData = Base.classes.envdata
CountryData = Base.classes.countrydata

In [123]:
EnvData

sqlalchemy.ext.automap.envdata

In [135]:
session = Session(engine)

#Extra Code
EnvData = engine.execute('SELECT * FROM env LIMIT 5').fetchall()
CountryData = engine.execute('SELECT * FROM countrydata LIMIT 5').fetchall()
EnvData[0][2]

In [128]:
#Join not working
EnvData = session.query(EnvData).join(CountryData, CountryData.Country == EnvData.Country).all()

In [145]:
EData = session.query(EnvironmentData).all()

In [146]:
Countries = []
HDI = []
FC = []
FG = []
FF = []
FCar = []
FFish = []
FT = []
LU = []
ECO2 = []
DQ = []




for x in EData:
    Countries.append(x.Country)
    HDI.append(x.HDI)
    FC.append(x.Footprint_Crop)
    FG.append(x.Footprint_Graze)
    FF.append(x.Footprint_Forest)
    FCar.append(x.Footprint_Carbon)
    FFish.append(x.Footprint_Fish)
    FT.append(x.Footprint_Total)
    LU.append(x.Land_Urban)
    ECO2.append(x.Emissions_CO2)
    DQ.append(x.Data_Quality)

In [147]:
CData = EData = session.query(CountryData).all()

In [148]:
SurArea = []
Pop = []
PopD = []
PopGr = []
PopUrb = []
GDP = []
GDPGrowth = []
EconAg = []
EconInd = []
EconServ = []
GovEd = []
WP = []

for x in CData:
    SurArea.append(x.Surface_Area)
    Pop.append(x.Population)
    PopD.append(x.PopDensity)
    PopGr.append(x.PopGrowth)
    PopUrb.append(x.PopUrban)
    EconAg.append(x.EconAg)
    EconInd.append(x.EconInd)
    EconServ.append(x.EconService)
    GovEd.append(x.Gov_Education)
    WP.append(x.Women_Parliment)

In [149]:
full_data = {
    "Country":Countries,
    "HDI":HDI,
    "Footprint_Crop":FC,
    "Footprint_Graze":FG,
    "Footprint_Forest":FF,
    "Footprint_Carbon":FCar,
    "Footprint_Fish":FF,
    "Footprint_Total":FT,
    "Land_Urban":LU,
    "Emissions_CO2":ECO2,
    "Data_Quality":DQ,
    "Area":SurArea,
    "Population":Pop,
    "PopDensity":PopD,
    "PopGrowth":PopGr,
    "PopUrban":PopUrb,
    "EconAg":EconAg,
    "EconInd":EconInd,
    "EconServ":EconServ,
    "GovEducation":GovEd,
    "Women_Parliment":WP
    
}

In [150]:
EnvData = {"data":full_data}